My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -140,
        -80
      ],
      "id": "3de6b156-9199-4abd-9182-6744d1ec1381",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        960,
        140
      ],
      "id": "648dc3d2-3056-4cd9-88f8-0c49d0764176",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "hfofBNquuGyWlaaT",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        160,
        140
      ],
      "id": "d484512a-2cb1-4b66-bff0-4bad692e51c9",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "hfofBNquuGyWlaaT",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1240,
        -80
      ],
      "id": "5938be65-f628-482f-ac8f-5824d0ffe8b5",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1460,
        -80
      ],
      "id": "d62e3db4-83c5-461c-aa0d-bd2a6c065b63",
      "name": "Wait",
      "webhookId": "9ff4a5d9-7272-466f-a154-91aab8438b2d",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2200,
        140
      ],
      "id": "c87fc4e1-7421-4b8a-819f-a7d1c7972806",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "hfofBNquuGyWlaaT",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  if (item.binary && item.binary.data) {\n    item.binary.data.mimeType = 'video/mp4';\n    item.binary.data.fileName = 'video.mp4'; // Optional but helpful\n  }\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2920,
        -80
      ],
      "id": "f2ab457e-f7cc-42c5-9468-a078c7ab8667",
      "name": "Code2"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Code2').item.json.title }}",
        "regionCode": "IN",
        "categoryId": "27",
        "options": {
          "description": "={{ $('Code2').item.json.title }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        3580,
        -80
      ],
      "id": "7f9bb02f-152e-4eec-b64f-92f9003c50fb",
      "name": "Upload a video",
      "alwaysOutputData": false,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "QeZeyfBxuIYbHf5q",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3360,
        -80
      ],
      "id": "d5aee6ed-ffdc-4a3d-93ff-a7bd85ebba58",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ctWsnUS0uCZmJqEV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.title }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1JK0LIVvq1lQqb1ysrydIJc2T3e93s4JE",
          "mode": "list",
          "cachedResultName": "Yt Automation",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1JK0LIVvq1lQqb1ysrydIJc2T3e93s4JE"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3140,
        -80
      ],
      "id": "71954455-bbff-4b8b-8e2f-3954111ca7a7",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ctWsnUS0uCZmJqEV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate 5 trending YouTube video ideas for Class 9 Science, focused on high-engagement, curiosity-driven topics. Make titles short and catchy (under 60 characters).\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        80,
        -80
      ],
      "id": "01826f3e-b6a3-412b-888f-8278e34e48b7",
      "name": "Main Prompt"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json[\"output\"];\nconst lines = raw.split('\\n').filter(l => l.startsWith('1.') || l.startsWith('2.') || l.startsWith('3.') || l.startsWith('4.') || l.startsWith('5.'));\nreturn lines.map(line => {\n  const match = line.match(/^\\d+\\.\\s\\*\\*\"([^\"]+)\"/);\n  return {\n    json: {\n      topic: match ? match[1] : line\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        -80
      ],
      "id": "e50ba0f5-78f3-4124-8a40-dbbe5c655a32",
      "name": "Topics"
    },
    {
      "parameters": {
        "fieldToSplitOut": "topic",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        660,
        -80
      ],
      "id": "361db149-ff1b-47da-8cc5-6eeb29778c05",
      "name": "Split Out Topics"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a fun and engaging 200-word script for a YouTube short video on the topic: \"{{ $json.topic }}\". The target audience is Class 9 students. Keep it energetic, curiosity-driven, and educational.\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        880,
        -80
      ],
      "id": "69a8fd7b-6b98-4dfc-9e49-6075dbeff183",
      "name": "Prompt for Video Scripts"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tavusapi.com/v2/videos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "b4cc0b55ccdd44b38c31b92e7e8e5833"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "replica_id",
              "value": "r4317e64d25a"
            },
            {
              "name": "script",
              "value": "={{ $json.output }}"
            },
            {
              "name": "video_name",
              "value": "Course Intro"
            },
            {
              "name": "callback_url",
              "value": "https://webhook.site/your-custom-url"
            },
            {
              "name": "fast",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        -80
      ],
      "id": "cd6ad922-8462-4cf2-9a2c-beb93257dad5",
      "name": "Create AI Video"
    },
    {
      "parameters": {
        "url": "https://tavusapi.com/v2/videos/b602a11389",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "b4cc0b55ccdd44b38c31b92e7e8e5833"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        -80
      ],
      "id": "673de857-4e1f-483d-af69-5e6026713440",
      "name": "Download Video"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a Youtube title and description for this script:\" {{ $json.data.script }}\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2120,
        -80
      ],
      "id": "6a1569ce-6e00-49c4-80c4-ed072444d716",
      "name": "Title and Description for yt"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst updatedItems = items\n  .map((item) => {\n    const output = item?.json?.output;\n    const titleStart = output.indexOf(\"**Title:**\") + 10;\n    const titleEnd = output.indexOf(\"\\n\\n**Description:**\");\n    const descriptionStart = titleEnd + 18;\n    const title = output.substring(titleStart, titleEnd).trim();\n    const description = output.substring(descriptionStart).trim();\n    return [{ json: { title } }, { json: { description } }];\n  })\n  .flat();\nreturn updatedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        -80
      ],
      "id": "5de51851-27fe-4125-80d0-97447d122d9f",
      "name": "Seperate Them"
    },
    {
      "parameters": {
        "url": "={{ $('Download Video').item.json.download_url }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "AWSAccessKeyId",
              "value": "AKIAZX2SRGORR36PDOV2"
            },
            {
              "name": "Signature",
              "value": "NEqVn7AkxA+10AW8SkOBAc+kdpw="
            },
            {
              "name": "Expires",
              "value": "1752759284"
            },
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2700,
        -80
      ],
      "id": "02c5a9ad-1a54-4bfa-b7ed-98e54e6e7187",
      "name": "Download Videos"
    }
  ],
  "pinData": {
    "Create AI Video": [
      {
        "json": {
          "status": "queued",
          "video_id": "b602a11389",
          "hosted_url": "https://tavus.video/b602a11389",
          "created_at": "Thu, 10 Jul 2025 13:29:57 GMT",
          "video_name": "Course Intro"
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Prompt for Video Scripts",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Main Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Title and Description for yt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a video": {
      "main": [
        []
      ]
    },
    "Main Prompt": {
      "main": [
        [
          {
            "node": "Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Topics": {
      "main": [
        [
          {
            "node": "Split Out Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Topics": {
      "main": [
        [
          {
            "node": "Prompt for Video Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt for Video Scripts": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create AI Video": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Title and Description for yt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Title and Description for yt": {
      "main": [
        [
          {
            "node": "Seperate Them",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seperate Them": {
      "main": [
        [
          {
            "node": "Download Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Videos": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "759df6ab-e1bf-47e3-a09b-884c87c17109",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b72474e8f50ac0bb64904918216b2af7a3ab7d3ad3d76f35d91998e6cf94fb5c"
  },
  "id": "gcWF5CYcrghtsA5k",
  "tags": []
}